* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/img/background2.png");
}

header {
    background-color: #74512D;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}
header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;}
main {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

section {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section img {
    max-width: 100%;
    object-fit: contain;
}


form {

    display: flex;
    flex-direction: column;

   }
   
   .input__container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:30%;
    display: flex;

  }
   .input__container label { font-size: 1.6rem; }
   
   .input__container input,
   textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
   }
   
   button {
    align-self: center;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
   }
   